* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --normal-font: 1.2rem;
    --medium-font: 3rem;
    --large-font: 3.5rem;
    --extra-large-font: 5rem;

    --small-screen-small-font: 0.8rem;
    --small-screen-normal: 1.5rem;

    --norm-font-weight: 200;
    --large-font-weight: 700;
    --extra-large-font-weight: 800;

    --bg-color: #000;
    --norm-font-color: #fff;
    --custom-font-color: wheat;

    --mtitle-font-family:;
    --normal-font-family:;
    --norm-title-font-family:;

    --border-color: #2f4f4f;
}

@font-face {
    font-family: densmore;
    src: url(fonts/densmore.otf)
}

body {
    background: var(--bg-color);
    color: var(--norm-font-color);
    font-family: 'Courier New', Courier, monospace;
    
}

.main {
    padding: 20px 10%;
}

.navbar {
    font-size: var(--normal-font);
    font-weight: var(--norm-font-weight);
    /* margin-bottom: 40px; */
    padding: 20px 10%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    
}

.navbar ul li {
    display: inline-block;
    list-stlye: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.names {
    font-size: var(--extra-large-font);
    color: var(--custom-font-color);
    font-weight: bolder;
}

.names h1 {
    font-weight: 900;
}




.intro {
    height: 100vh;
    width: 100%;
}



.rolling-text {
    margin-bottom: 30px;
}



.resume {
    text-decoration: none;
    color: var(--norm-font-color);
    border-bottom: 1px solid var(--border-color);
    padding:5px;
    font-size: var(--normal-font);

}

.resume:hover {
    border-bottom: 2px solid var(--border-color);
    
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1.5px solid wheat;
    border-radius: 50%;
    bottom: 5px;
    left: 50%;
    animation: bounce 2s infinite;
}

.arrow::before {
    position: absolute;
    content: "";
    top:5px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-left: 1px solid wheat;
    border-bottom: 1px solid wheat;
    transform: rotate(-45deg);
}


.fade-in {
    opacity: 1;
    transition: 1s all ease-in;
}

.fade-out {
    opacity: 0;
    transition: 1s ease-out;
    
}

@keyframes bounce {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);

    }
    40% {
        transform: translate(0);

    }
}
@-webkit-keyframes bounce {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);

    }
    40% {
        transform: translate(0);

    }
}

::-webkit-scrollbar {
    background: #000;

}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

.skills-container {
    /* margin-top: 100px; */
    height: 100vh;
    /* margin-top: 100px; */
}

.skills-container   h3 {
    font-size: var(--medium-font);
    margin-bottom: 50px;
}

.skills {    
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    grid-gap: 30px;
}

.skills div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 200px;
    height: 30px;
    padding: 60px;
    /* border-radius: 10px; */
}

/* Projects */
.project-container {
    transition: 2s all;
    
}

.project-container h3 {
    font-size: var(--medium-font);
    margin-bottom: 50px;

}

.project {
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid var(--border-color);
    /* transition: 2s border; */
    padding-bottom: 10px;
    
    
}

.project-img   {
    width: 100%;
    transition: 2s all;
    flex-basis: 45%;
}

.project-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.project-technologies {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    /* transition: 2s all; */
    position: absolute;
    top: 0;
    left: 40%;
    /* transform: translateY(100%); */
    font-size: 0;
    /* color: brown; */
}

.project:hover .project-technologies {
    /* transform: translateY(0); */
    position: unset;
    transition: 2s all;
    font-size: var(--normal-font);
    
}

.project-content {
    display: flex;
    gap: 7%;
    justify-content: space-between;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.project-explanation {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    
}

.project-explanation button {
    background: transparent;
    color: inherit;
    font-family: inherit;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    max-width: 200px;
    margin: 0 auto;
}

.project-explanation button:hover {
    background-color: var(--border-color);
    transition: 1s;
}








/* Contact */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;

}

.contact h3 {
    font-size: var(--medium-font);
    margin-bottom: 50px;
}

.contact-input input, textarea {
    width: 100%;
    margin-bottom: 30px;
    line-height: 20px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #2f4f4f;
    font-family: inherit;
    max-width: 500px;
    color: white;
}

.contact-input textarea {
    resize: none;
}

.contact-input {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-input button {
    border: 1px solid var(--border-color);
    background: transparent;
    color: inherit;
    font-family: inherit;
    padding: 10px 28px;
    max-width: 300px;
    align-self: start;
    margin-top: 30px;

}

.contact-input button:hover {
    background-color: var(--border-color);
    transition: all 2s;
}




/* project-page */

.project-main {
    line-height: 40px;
}

.project-pic {
    width: 100%;
    height: 100vh;
}

.demo-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    
}

.demo-links h2 a {
    text-decoration: none;
    color: inherit;
}

.demo-links h2 a:hover {
    border-bottom: 1px solid var(--border-color);
}

.project-page-content {
    width: 100%;
    max-width: 800px;
}

.project-page-content > div {
    display: flex;
    gap: 15px;
}

.project-page-content h2 {
    font-size: var(--medium-font);
    margin-bottom: 50px;
    margin-top: 50px;
    color: var(--border-color)
}

/* Footer */
.footer {
    width: 100%;
    aspect-ratio: 600/200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer-bg {
    background-image: url('wave-haikei.svg');
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    width: 100%;
}

.footer-container > hr {
    display: block;
    border: none;
    height: 0.09px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-bottom: 15px;
    width: 100%;
    max-width: 1000px;
    
}

.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: end;
    margin-bottom: 30px;

}

.socials img {
    width: 20px;
    height: 20px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Responsive design */

@media (max-width: 425px) {
    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .navbar {
        font-size: 12px;
       } 

       .intro {
        height: 70vh;
        /* margin-bottom: 200px; */
        margin: 0;
        
       }
    
       .names {
        font-size: 35px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 20px;
       }
    
       .arrow {
        display: none;
       }

       .rolling-text h1{
        font-size: 15px;
        width: 100%;
       }
    
       .skills-container {
        height: 70vh;
        /* margin-bottom: 200px; */
        margin: 0;
       }
       .skills {
        grid-template-columns: repeat(2, auto);
        grid-gap: 10%;
        justify-content: center;
       }
    
       .skills div {
        padding: 25px;
        font-size: 8px;
        /* height: 50px; */
       }
    
       .project-container {
        /* margin-top: 200px; */
        margin: 0;
       }
    
       .project-technologies {
        font-size: 16px;
       }
    
       .project-content {
        flex-direction: column;
        margin-top: 70px;
       }
    
       .project {
        flex-basis: 100%;
       }
    
       .project-explanation {
        flex-basis: 100%;
       }
    
       .footer {
        height: 80vh;
       }

       .footer-container {
        font-size: var(--small-screen-small-font);
        margin-bottom: 10px;
       }
    
       .footer-container > hr {
        display: none;
       }
    
       .socials {
        margin-bottom: 25px;
        gap: 15px;
       }
    
       .socials img {
        width: 20px;
        height: 20px;
        }
        .copyright {
            font-size: 7px;
        }
}


@media (min-width: 426px) and (max-width: 870px) {
   .navbar {
    font-size: 12px;
   } 

   .main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 100px;
    }
   .names {
    font-size: 2rem;
   }

   .rolling-text h1{
    font-size: var(--small-screen-normal);
    width: 100%;
   }

   .arrow {
    display: none;
   }
   .skills-container {
    height: 100vh;
    margin-bottom: 200px;
   }
   .skills {
    grid-template-columns: repeat(2, auto);
    grid-gap: 6%;
   }

   .skills div {
    padding: 20px;
    font-size: 8px;
    /* height: 50px; */
   }


   .project-technologies {
    font-size: 16px;
   }

   .project-content {
    flex-direction: column;
    margin-top: 70px;
   }

   .project {
    flex-basis: 100%;
   }

   .project-explanation {
    flex-basis: 100%;
   }

   .footer-container {
    font-size: var(--small-screen-small-font);
    margin-bottom: 10px;
   }

   .footer-container > hr {
    display: none;
   }

   .socials {
    margin-bottom: 25px;
   }

   .socials img {
    width: 20px;
    height: 20px;
    }
}

@media (min-width: 600px) and (max-width: 950px) {
    .main {
        padding: 0 5%;
    }
    
    .skills-container {
        margin-bottom: 100px;
        height: 100vh;
    }

    .skills {
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
    }

    .skills div {
        padding: 40px 20px
    }

    .project-container {
        /* margin-top: 100px; */
        
    }

    .project-content {
        flex-direction: column;
        width: 100%;
    }

    .project-explanation {
        max-width: 500px;
    }

    .project-img {
        flex-basis: 100%;
    }

}